<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>IMPRESSIONS - IET DAVV</title>

    <link rel="shortcut icon" type="image/jpg" href="assets/images/author-image.jpg"/>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="index.js"></script>
    <script src="assets/js/snowfall.js"></script>
    <style>
      @import "https://fonts.googleapis.com/css?family=Raleway";

      #report { 
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        margin: 4em auto;
        width: 100px; 
        height: 30px; 
        line-height: 30px;
        background: teal;
        color: white;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        border: 1px solid white;
        font-family: Raleway; 

      }

      #report:hover { background: #666; }
      #report:active { background: #444; }

      #reportForm { 
        display: none;
        font-family: Raleway; 
        border: 6px solid salmon; 
        padding: 2em;
        width: 400px;
        text-align: center;
        background: #fff;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%)
        
      }

      input, textarea { 
        margin: .8em auto;
        font-family: Raleway; 
        text-transform: inherit; 
        font-size: inherit;
        
        display: block; 
        width: 280px; 
        padding: .4em;
      }
      textarea { height: 80px; resize: none; }

      .formBtn { 
        width: 140px;
        display: inline-block;
        background: teal;
        color: #fff;
        font-weight: 100;
        font-size: 1.2em;
        border: none;
        height: 50px;
      }
    </style>
  </head>

  <body>
    <div id="page-wraper">
      <div class="responsive-nav" id="snow">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="assets/images/author-image.jpg" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>IMPRESSIONS</h4>
              <span>BATCH 2020</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">ABOUT</a></li>
                <li><a href="#section2">SEARCH</a></li>
                <li><a href="#section3">RESPONSES</a></li>
              </ul>
            </nav>
            <div id="report">REPORT</div>
            <div class="copyright-text">
              <p style="font-size: 10px;">
                <a href="https://www.linkedin.com/in/kanishk-tiwari-504444141/" target="_blank" style="color: white;"><u>KT26</u></a><br>
                (IET DAVV 2020)
              </p>
            </div>
          </div>
        </div>
      </div>

      
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>About</h2>
            <div class="line-dec"></div>
            <span
              ><p style="text-align: left;"><br><br>
            Farewell or not so farewell... Let's see what will happen, but before that think how we all final year_ies used to imagine ki...
            <br><br></p>

            <p style="color: #f5b2b2; font-size: 40px; font-family: monospace; color: white;">"</p>
            <p style="color: #f5b2b2; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            Bas placement season khatam ho or apni masti ki baatein hogi,<br>
            Hotho pr un 7 sem me kiye huye kand or aankon me un hazaro lamho ki yadein hogi...<br>
            Sath me puri puri rat ghumne ke plans bhi bnaye honge,<br>
            ya phir se ek bar sbke sath Jaam gate ka sunrise dekhne ke sapne sajaye honge,<br>
            Hostel ki un deewaro ke beechh chhupi vo shararate uchal kr vapis aane ko krti hogi...<br>
            Yaaro ke sath beth kr beeti vo dhalti shamein phir hakikat me aane ko kehti hogi,<br>
            Canteen ke us  ek samose ko , na jaane kbse un yaaro ki gang ka intezaar hoga,<br>
            vo backstage ka khali maidan phir un cricketers ko pukarta hoga..<br><br>
            </p>
            <p style="color: #f5b2b2; font-size: 40px; font-family: monospace; color: white;">"</p>

            <p style="text-align: left;">
            <br>
            <br>
            Well quarantine washed it all away, but could it ruin our farewell and feeling for each other? No.....
            Why don't we get back to our gallery and select your best photo and then write up the best of your memories or any other sentiments you want to express before leaving this beautiful tag , "College Student." There is no language barrier it can be any Hindi, English or mix of both, just pure feelings.
            So that we could collect them all for you, and would send a softcopy of yearbook to your class groups.
            Here's a gift from us to you, your  yearbook.
            <p style="text-align: left; font-size: 20px;color: #f5b2b2;"></b>"IMPRESSIONS " - Class of 2020</b></p>
            <br>
            <br>
            Let's forget all the differences and let's come up together to make this book of memories a beautiful creation which will make us laugh and smile upon in future. Submit your response now be a part of year book 2020 - IMPRESSION<br></p></span>
            <br>
            <br>

            <button class="my-button">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSclsjrXDiO0Ke-WueESEn-nlVQL1gL3sMkLoMy9gAhfwmSdOw/viewform?usp=sf_link" target="_blank">SUBMIT RESPONSE</a>
            </button>
            <p style="text-align: left;"><br><br><br>
              NOTE<br>
              1. Minimum word limit is 100.<br>
              2. This is only for final year students.<br>
              3. Last date to submit this form is 20th May 2020.<br>
              <br>
            </p>  
          </div>
          
      </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Search</h2>
            <div class="line-dec"></div>
            <br>
            <span>Search responses filled by your friends. You can search by responses by entering name and selecting branch.</span>
            <br>
            <br>
          </div>
          <div id="search">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <input v-model="searchText" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-md-6 ">
                <select v-model="chosenBranch" class="drop-down">
                  <option value="" selected disabled>Choose Branch</option>
                  <option value="CS-A">CS A</option>
                  <option value="CS-B">CS B</option>
                  <option value="IT-A">IT A</option>
                  <option value="IT-B">IT B</option>
                  <option value="ETC-A">ETC A</option>
                  <option value="ETC-B">ETC B</option>
                  <option value="MECH">Mech</option>
                  <option value="CIVIL">Civil</option>
                  <option value="E&I">E&I</option>
                </select>
                <button @click="performSearch" class="search">Search</button>
              </div>
            </div>



            <p v-if="searchQuery">{{ resultCount }} Results</p>
            <template v-for="item in searchResults">
              <div class="left-image-post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="left-image">
                      <img :src="item.picture" class="search-img" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="right-text">
                      <br>
                      <h4>
                        {{ item.name }}
                        <br>
                        <span class="pinkk">({{ item.branch }})</span>
                      </h4>
                      <p>{{ item.experience }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </template>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section3">
        <div class="container" id="posts">
          <div class="section-heading">
            <h2>Responses</h2>
            <div class="line-dec"></div>
            <span>Here you can find recent 5 responses submitted by the students. <br><br>
              <br><br><br><br><br>
            </span>
          </div>
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <img src="assets/images/loader.gif" alt="" class="loader">
            </div>
          </div>
        </div>
        <p style="text-align: center; color: #f5b2b2;" id="resCount"></p>
      </section>
    </div>


    <div id="reportForm">

      <h1 style="font-size: 30px;">REPORT ISSUE/BUG/ABUSE</h1>
      
      
      <form action="#">
        <input placeholder="Your Name" type="text" required />
        <textarea placeholder="Describe issue here"></textarea>
        <input class="formBtn" type="submit" />
        <input class="formBtn" type="reset" />
      </form>
    </div>



    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
    <script>
        // Open a new connection, using the GET request on the URL endpoint
        var request = fetch('https://v2-api.sheety.co/b8aa3b0c2c9d05bda7d616ca94452da1/impressions/formResponses1')

        request.then(function(res) {
          res.json().then(function (data) {
            data = data.formResponses1;
            $(".loader").fadeOut();
            var count = data.length;
            $("#resCount").text("( Total Responses - "+count+" )");

            var postsContainer = $("#posts");
            var button = "<div class='col-md-4 offset-md-4 button-div'><button class='my-button'><a href='all.html' target='_blank'>View All</a></button></div>"

            for(i = count-1; i > count-6;i--) {
              if(i>-1) {
                var personName = Object.values(data[i])[3];
                var imgUrl = "https://drive.google.com/uc?export=view&"+Object.values(data[i])[6].split("?").find((el) => el.startsWith("id"));

                var text = Object.values(data[i])[5]
                var branch  = "<span class = 'pinkk'>("+Object.values(data[i])[4]+")</span>"

                var leftMarkup ="<div class='left-image-post'><div class='row'><div class='col-md-6 img-div'><div class='left-image image-div'><img src='"+imgUrl+"' class='post-img' alt='' /></div></div><div class='col-md-6 text-div'><div class='right-text'><h4 class = 'name'>"+personName+"<br>"+branch+"</h4><p class='post-text'>"+text+"</p></div></div></div></div>";
                var rightMarkup ="<div class='right-image-post'><div class='row'><div class='col-md-6 text-div'><div class='left-text'><h4 class='name'>"+personName+"<br>"+branch+"</h4><p class='post-text'>"+text+"</p></div></div><div class='col-md-6 img-div'><div class='right-image image-div'><img src='"+imgUrl+"' class='post-img' alt='' /></div></div></div></div>";

                if(i%2 == 0) {
                  postsContainer.append(leftMarkup)
                }
                else {
                  postsContainer.append(rightMarkup)
                }
              }
            }
            postsContainer.append(button);
          })
        })

        $(function() {
          $('#report').click(function() {
            $('#reportForm').fadeToggle();
          })
          $(document).mouseup(function (e) {
            var container = $("#reportForm");

            if (!container.is(e.target)
                && container.has(e.target).length === 0)
            {
                container.fadeOut();
            }
          });
          
        });



    </script>
  </body>
</html>
